<h1><%= @product.title %></h1>

<% if @product.description.present? %>
  <p>Description: <%= @product.description %></p>
<% end %>

<p>Price: $<%= @product.price %></p>
<p>Stock Quantity: <%= @product.stock_quantity %></p>

<% if @product.category.present? %>
  <p>Category: <%= @product.category.name %></p>
<% end %>
